/* TYPE SELECTOR */
body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
/* ID SELECTOR*/
h2 {
    border-bottom: dotted 1px slategray;
    padding-bottom: 5px;
}
/* ID */
#container {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

main {
    padding: 30px;
    line-height: 1.5;
}

ul {
    /* list-style-type: circle */
    padding: 0;
    margin-left: 20px;
}

p {
    color: slategrey;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 28px;
}

header {
    color: white;
    padding: 20px;
    background: #1d0d2e url("image/e1.jpg") no-repeat;
    background-size: cover;
}

header, footer {
    text-align: center;
}

footer {
    background-color: #4b225d;
    padding: 15px 0;
}

#main-title {
    font-size: 36px;
    margin: 0;
}

.featured-img {
    border: solid 2px white;
    width: 125px;
    margin-bottom: 10px;
    border-radius: 50%;
}

header span {
    font-size: 18px;
}

a {
    text-decoration: none;
}
/*===================
 SOCIAL MEDIA LINKS
 ==================== */
.social-list {
    margin: 0;
}

.social-list li {
    display: inline;
    margin-right: 20px;
}

.social-list a:link {
    color: #78387e;
}

.social-list a:hover {
    color: #c46e97;
}

footer a {
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: #d8bfd8;
}